
body {
  padding: 0;
  background-color: #f0f0f0;
  color: #0f0f0f;
}

h1 {
  background-color: #90c3d4;
  color: #;
  width: 300px;
}

a 

.screen {
  width: 300px;
  height: 196px;
}

a:link {
	color: #d9943b;
	background: transparent;
	text-decoration: none;
}

a:visited {
	color: #4d965a;
	background: transparent;
	text-decoration: none;
}

a:hover {
	color: #b22222;
	background: transparent;
	text-decoration: underline;
}